.Modal {
    width: 500px;
    padding: 0px 15px;
    background-color: #eee;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.Modal > * {
    text-align: center;
}