html {
  overflow-y: scroll;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Times New Roman", "sans-serif";
  min-height: 100vh;
  background-color: #1e2129;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}
